<h2 class="page-header">Please fill in all the fields below in order to reset your password</h2>
<form (submit)="resetPassword()" #pwdResetForm="ngForm">
  <div class="form-group">
    <label>Password reset code</label>
    <input type="text" class="form-control" [(ngModel)]="resetCode" name="resetCode">
  </div>
  <div class="form-group">
    <label>New password</label>
    <input type="password" class="form-control" [(ngModel)]="newPassword" name="newPassword">
  </div>
  <div class="form-group">
    <label>Confirm new password</label>
    <input type="password" class="form-control" [(ngModel)]="confirmNewPassword" name="confirmNewPassword">
  </div>
  <input type="submit" class="btn btn-primary" value="Reset">
</form>
